:root {
  font: 16px / 1 sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}
button {
  display: flex;
  flex-direction: center;
}
figure {
  height: 10rem;
  width: 10rem;
}
